<footer class="footer bg-primary">
    <div class="contact-left">
        <span> <img class="logo" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                alt="github link">
            <b>github.com/sankhiP </b>
            </img>
        </span>
        <span> <img class="logo"
                src="https://w7.pngwing.com/pngs/811/53/png-transparent-phone-contact-icon-logo-iphone-computer-icons-telephone-call-phone-icon-electronics-text-grass.png"
                alt="contact number"><b> +4748685862 </b></img></span>
        <span><img class="logo"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdSm1Py_8VefL3G66hrZsRhveBUZaEGh5AvA&usqp=CAU"
                alt="Email Address"> <b> prakash_sankhi@yahoo.com</b></img></span>
    </div>

    <div class="contact-right">
        <span> <img class="logo"
                src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_location_on_48px-512.png"
                alt="Location"><b>Jens Bjelkes Gate 42, Oslo, Norway</b></image> </span>

        <span><img class="logo" src="https://pmsilicone.com/wp-content/uploads/2020/04/linked-in-logo.jpg"
                alt="linkedin link">
            <b> linkedin.com/in/prakash-sankhi/</b></image></span>
    </div>
</footer>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
    crossorigin="anonymous"></script>
</body>

</html>