<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="app.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        h1,
        p {
            font-family: 'Open Sans', sans-serif;
        }

        html,
        body {
            height: 100%;
        }

        .container {
            min-height: 60%;
        }

        #main {
            overflow: auto;
        }

        .footer {
            height: 30%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-grow: 1;
            position: relative;

        }

        .logo {
            height: 40px;
            width: 70px;
            display: inline;
            margin: 5px;
            padding: 5px;
        }

        .contact-left {
            display: flex;
            flex-direction: column;
            margin: 1px;
            padding: 1px;
            flex-grow: 1;

        }

        .contact-right {
            display: flex;
            flex-direction: column;
            margin: 1px;
            padding: 1px;
        }

        @media (min-width:300px) and (max-width:600px) {
            .footer {
                display: flex;
                flex-direction: column;
                flex-basis: 200px;
                height: 60%
            }

            .contact-right {
                flex-shrink: 1;
            }


        }

        #profile-image {
            height: 300px;
            width: 500px;
            border-radius: 0.5%;
            margin-top: 20px;
        }

        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-shrink: 3;
        }

        @media (min-width:300px) and (max-width:600px) {
            .container {
                display: flex;
                flex-direction: column;
            }
        }

        .main-skills-logo {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 15px;
            padding: 15px;
        }

        .skill-logo {
            height: 100px;
            width: 100px;
            display: inline-block;
            margin: 5px;
            padding: 5px;
        }

        .skill-logo-basics {
            display: flex;
            flex-direction: column;
            margin: 15px;
            padding: 15px;
        }
    </style>
    <title>Portfolio</title>

</head>

<body>