<%- include ('../partials/navbar.ejs') %>
    <div class="container">
        <div id="about">
            <article>

            </article>
        </div>

        <div id="about-inside">
            <section>
                <img id="kings-road"
                    src="https://scontent.fosl4-2.fna.fbcdn.net/v/t1.0-0/p526x296/93839079_3700926929979083_4473383450111377408_o.jpg?_nc_cat=110&ccb=2&_nc_sid=84a396&_nc_ohc=wM5LfdsTp4sAX-PS-Ob&_nc_ht=scontent.fosl4-2.fna&tp=6&oh=5fc405a725dfd7b003fcff2f978ab272&oe=6003CED0"
                    alt="Kings Road image Oslo">
            </section>

            <aside id="kings-road-aside">

                <h2> Overview </h2>
                <p>I am outgoing, energizing, resourceful, and goal-oriented. I face new challenges with a
                    great commitment and a willingness to seek the knowledge needed to find solutions. As your next
                    <b> Full Stack Software Engineer</b>, I want to contribute to new ideas and work purposefully to
                    contribute to the mission.
                    <b> I hope to introduce myself further.</b>
                </p>
            </aside>
        </div>
    </div>

    <div id="about-feed">
        <img class="about-feed-img"
            src="https://scontent.fosl4-2.fna.fbcdn.net/v/t1.0-0/s640x640/80712129_3358569530881493_8503326116914659328_o.jpg?_nc_cat=101&ccb=2&_nc_sid=84a396&_nc_ohc=v-kN56BMajsAX8n4cBb&_nc_ht=scontent.fosl4-2.fna&tp=7&oh=80a0f43d09bca4b108f78bcdd7d445c2&oe=6005C090"
            alt="three swords stvanger ">

        <img class="about-feed-img"
            src="https://scontent.fosl4-2.fna.fbcdn.net/v/t1.0-0/s640x640/49380194_2434719463266509_8352124799736086528_o.jpg?_nc_cat=109&ccb=2&_nc_sid=84a396&_nc_ohc=3kzuiHuHSgAAX-ahoSN&_nc_ht=scontent.fosl4-2.fna&tp=7&oh=708a1312aca03ce080f2972e72dfae68&oe=60043749"
            alt=" time squate new york city ">

        <!-- <img class="about-feed-img"
            src="https://scontent.fosl4-1.fna.fbcdn.net/v/t1.0-9/69388164_2988657894539327_7562163220308295680_o.jpg?_nc_cat=104&ccb=2&_nc_sid=730e14&_nc_ohc=annc_vVliyQAX8sUDCp&_nc_ht=scontent.fosl4-1.fna&oh=91f37f701ad1b9f0d8473a187f18f0fa&oe=60040BEA"
            alt="Prakash image in finland"> -->

        <img class="about-feed-img"
            src="https://scontent.fosl4-2.fna.fbcdn.net/v/t1.0-0/p180x540/119468279_1821756824628923_4686802068951492315_o.jpg?_nc_cat=100&ccb=2&_nc_sid=e3f864&_nc_ohc=9nuNlFMIbeIAX8SaqaY&_nc_ht=scontent.fosl4-2.fna&tp=6&oh=df6a708a5813d51905b7fb5706e4dbcd&oe=6005F292"
            alt="Cricket winner group pic">

        <img class="about-feed-img"
            src="https://scontent.fosl4-1.fna.fbcdn.net/v/t1.0-9/64382464_2807005059371279_7448687590187728896_o.jpg?_nc_cat=111&ccb=2&_nc_sid=84a396&_nc_ohc=hwUY7Vr1lJ4AX9GcdZR&_nc_ht=scontent.fosl4-1.fna&oh=98d90720bbe5c4771d56cddce1544b8c&oe=600523BD"
            alt="three swords songsvann">

        <img class="about-feed-img"
            src="https://scontent.fosl4-2.fna.fbcdn.net/v/t31.0-8/s960x960/19055563_1565105430227921_2330972067508730864_o.jpg?_nc_cat=100&ccb=2&_nc_sid=8bfeb9&_nc_ohc=_YwDoyCX4FAAX-VsjoD&_nc_ht=scontent.fosl4-2.fna&tp=7&oh=1e6eeec36e0c631004c4817f1e4d8e66&oe=600536DA"
            alt=" Fewa Lake Pokhara ">

        <img class="about-feed-img"
            src="https://scontent.fosl4-2.fna.fbcdn.net/v/t1.0-0/s640x640/116583315_4129154037156368_3285931290838625532_o.jpg?_nc_cat=100&cb=846ca55b-ee17756f&ccb=2&_nc_sid=84a396&_nc_ohc=q1uDf-QYXkEAX9esQcf&_nc_ht=scontent.fosl4-2.fna&tp=7&oh=86f5f7f14f6b811bc17a676011bd53f8&oe=6002F2C7"
            alt=" Kjerag Bolten">
    </div>


    <div id="instagram-feed">
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-b230557a-5f4a-48f9-910c-72c916b1cc25"></div>
    </div>

    <%-include ('../partials/footer.ejs') %>