<%- include ('../partials/navbar.ejs') %>
    <div class="container">
        <div class="main-text">
            <p>
            <h1>Hello! </h1>
            <h1>I'm Prakash.</h1>
            <h4>I am outgoing, energizing, resourceful, and goal-oriented. I face new challenges with a great
                commitment and a willingness to seek the knowledge needed to find solutions. As your next <b> Full Stack
                    Software Engineer</b>, I want to contribute to new ideas and work purposefully to contribute to the
                mission.
                <b> I hope to introduce myself further.</b>
            </h4>
            </p>
        </div>

        <div class="main-image">
            <img id="profile-image"
                src="https://scontent.fosl4-2.fna.fbcdn.net/v/t1.0-9/p843x403/35238958_2038784109526715_6404103770879295488_o.jpg?_nc_cat=100&ccb=2&_nc_sid=84a396&_nc_ohc=MlXE9P6KT6wAX_Kl1Bk&_nc_oc=AQnNIxXXLQUmsUwYiudcFJC0snqRyi2Ft4JmkJbd9TP06hv9ectO6GGD1hieob_F7-c&_nc_ht=scontent.fosl4-2.fna&tp=6&oh=7a9b8a60041be0e0091448013b6a7350&oe=5FFD1849"
                alt="prakash picture">
        </div>
    </div>

    <%- include ('../partials/footer.ejs') %>