<%- include ('../partials/navbar.ejs') %>
    <header>
        <div class="container">
            <nav class="topnav">
                <ul>
                    <a class="btn active" href="/">About Me</a>
                    <a class="btn" href="/skills">Skills</a>
                    <a class="btn" href="/experiences">Experiences</a>
                    <a class="btn" href="/education">Education</a>
                </ul>
            </nav>
        </div>
    </header>


    <div class="container">
        <div class="about-head">

            <div>
                <section>
                    <img id="about-Img"
                        src="https://scontent.fosl4-2.fna.fbcdn.net/v/t1.0-9/p843x403/35238958_2038784109526715_6404103770879295488_o.jpg?_nc_cat=100&ccb=2&_nc_sid=84a396&_nc_ohc=MlXE9P6KT6wAX_Kl1Bk&_nc_oc=AQnNIxXXLQUmsUwYiudcFJC0snqRyi2Ft4JmkJbd9TP06hv9ectO6GGD1hieob_F7-c&_nc_ht=scontent.fosl4-2.fna&tp=6&oh=7a9b8a60041be0e0091448013b6a7350&oe=5FFD1849"
                        alt="prakash Sankhi img">

                </section>
                <aside id="about-text">
                    <h2> Hello..</h2>
                    <h2> I'm Prakash.. </h2>
                    <h3> I'm Software Engineer and Researcher.</h3>
                </aside>
            </div>


            <div id="about-inside">
                <section>
                    <img id="kings-road"
                        src="https://scontent.fosl4-2.fna.fbcdn.net/v/t1.0-0/p526x296/93839079_3700926929979083_4473383450111377408_o.jpg?_nc_cat=110&ccb=2&_nc_sid=84a396&_nc_ohc=wM5LfdsTp4sAX-PS-Ob&_nc_ht=scontent.fosl4-2.fna&tp=6&oh=5fc405a725dfd7b003fcff2f978ab272&oe=6003CED0"
                        alt="Kings Road image Oslo">
                </section>

                <aside id="kings-road-aside">

                    <h1> Overview </h1>
                    <p>Achieve a position that challenges my skills and urges me to learn and enhance my capabilities to
                        become more competent and experienced so that I can contribute well to the growth of the company
                        and
                        have continuous self-development by way of learning and exposure to new assignments.
                    </p>
                </aside>
            </div>
        </div>

    </div>

    <div id="about-feed">
        <img class="about-feed-img"
            src="https://scontent.fosl4-2.fna.fbcdn.net/v/t1.0-0/s640x640/80712129_3358569530881493_8503326116914659328_o.jpg?_nc_cat=101&ccb=2&_nc_sid=84a396&_nc_ohc=v-kN56BMajsAX8n4cBb&_nc_ht=scontent.fosl4-2.fna&tp=7&oh=80a0f43d09bca4b108f78bcdd7d445c2&oe=6005C090"
            alt="three swords stvanger ">

        <img class="about-feed-img"
            src="https://scontent.fosl4-2.fna.fbcdn.net/v/t1.0-0/s640x640/49380194_2434719463266509_8352124799736086528_o.jpg?_nc_cat=109&ccb=2&_nc_sid=84a396&_nc_ohc=3kzuiHuHSgAAX-ahoSN&_nc_ht=scontent.fosl4-2.fna&tp=7&oh=708a1312aca03ce080f2972e72dfae68&oe=60043749"
            alt=" time squate new york city ">

        <img class="about-feed-img"
            src="https://scontent.fosl4-2.fna.fbcdn.net/v/t1.0-0/p180x540/119468279_1821756824628923_4686802068951492315_o.jpg?_nc_cat=100&ccb=2&_nc_sid=e3f864&_nc_ohc=9nuNlFMIbeIAX8SaqaY&_nc_ht=scontent.fosl4-2.fna&tp=6&oh=df6a708a5813d51905b7fb5706e4dbcd&oe=6005F292"
            alt="Cricket winner group pic">

        <img class="about-feed-img"
            src="https://scontent.fosl4-1.fna.fbcdn.net/v/t1.0-9/64382464_2807005059371279_7448687590187728896_o.jpg?_nc_cat=111&ccb=2&_nc_sid=84a396&_nc_ohc=hwUY7Vr1lJ4AX9GcdZR&_nc_ht=scontent.fosl4-1.fna&oh=98d90720bbe5c4771d56cddce1544b8c&oe=600523BD"
            alt="three swords songsvann">

        <img class="about-feed-img"
            src="https://scontent.fosl4-2.fna.fbcdn.net/v/t31.0-8/s960x960/19055563_1565105430227921_2330972067508730864_o.jpg?_nc_cat=100&ccb=2&_nc_sid=8bfeb9&_nc_ohc=_YwDoyCX4FAAX-VsjoD&_nc_ht=scontent.fosl4-2.fna&tp=7&oh=1e6eeec36e0c631004c4817f1e4d8e66&oe=600536DA"
            alt=" Fewa Lake Pokhara ">

        <img class="about-feed-img"
            src="https://scontent.fosl4-2.fna.fbcdn.net/v/t1.0-0/s640x640/116583315_4129154037156368_3285931290838625532_o.jpg?_nc_cat=100&cb=846ca55b-ee17756f&ccb=2&_nc_sid=84a396&_nc_ohc=q1uDf-QYXkEAX9esQcf&_nc_ht=scontent.fosl4-2.fna&tp=7&oh=86f5f7f14f6b811bc17a676011bd53f8&oe=6002F2C7"
            alt=" Kjerag Bolten">
    </div>

    <div class="quotes">
        <h1> A LITTLE ABOUT ME : </h1>
        <h3>"I am outgoing, energizing, resourceful, and goal-oriented. I face new challenges with a
            great commitment and a willingness to seek the knowledge needed to find solutions. As your next
            Full Stack Software Engineer, I want to contribute to new ideas and work purposefully to
            contribute to the mission. I hope to introduce myself further."
        </h3>

    </div>



    <%-include ('../partials/footer.ejs') %>