<%-include ('../partials/navbar.ejs') %>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link hvr-grow-shadow" href="/"> ABOUT <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hvr-grow-shadow" href="/skills">SKILLS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hvr-grow-shadow education active" href="/education">EDUCATION</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link hvr-grow-shadow" href="/resume">RESUME</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link hvr-grow-shadow" href="/contact">CONTACT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <div class="container">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">University</th>
                    <th scope="col">Course</th>
                    <th scope="col">Year</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Oslo Metropolitan University</td>
                    <td>
                        <p>
                        <h6>Master's in Universal Design of ICT</h6>
                        <p>Interaction Styles and technologies for accessibility, Universal design of Interactive
                            system, Research Methods and Research Ethics, user diversity and ICT barriers,
                            Programming and API's for Interaction, Master's Thesis.</p>
                        </p>
                    </td>
                    <td>2020</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Visvesvaraya Technological University</td>
                    <td>
                        <p>
                        <h6>Bachelor's in Information Science And Engineering</h6>
                        <p>Data Structures with C, Object-Oriented Programming with c++, Design and analysis of
                            computer algorithm, Unix and Shell Programming, Software Engineering, System Software,
                            Operating System, Database management System, Management and Entrepreneurship, Software
                            Testing, Programming the WEB, Data Warehousing, and data mining, Java & J2EE, Software
                            Architecture, Storage area Network, Clouds, Grids and Clusters, Project Work.

                        </p>
                        </p>
                    </td>
                    <td>2015</td>
                </tr>

            </tbody>
        </table>

        <artical class="quotes">
            <h1>"Education isn't what you learn, it's what you do with what you learn."</h1>
        </artical>
    </div>
    <%-include ('../partials/footer.ejs') %>