<%-include ('../partials/navbar.ejs') %>
    <div class="contaier">
        <div class="main">
            <article id="experience-text">
                <h4>I'm a dedicated full stack Developer and Researcher </h4>
                <p> I try my best to solve the problems carefully.
                    Below you'll find a selection of some of my most recent research and web applications that showcase
                    the
                    type of projects I work closely with. </p>
            </article>
            <div class="card-main">
                <div class="card">
                    <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/5/5b/Idt_front_cover.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Research Journal</h5>
                        <p class="card-text"></p>
                        <a href="https://www.tandfonline.com/doi/full/10.1080/17483107.2020.1818298?tab=permissions&scroll=top"
                            class="btn btn-primary">Preview</a>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top"
                        src="https://www.pongboss.com/wp-content/uploads/2017/06/top-paddles-main-1-1024x564.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Ping-Pong Score Board</h5>
                        <p class="card-text"></p>
                        <a href="https://evening-tundra-06225.herokuapp.com/" class="btn btn-primary">Preview</a>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="https://still-ridge-49363.herokuapp.com/icons/icon1.png"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Pricing Panel Project </h5>
                        <p class="card-text"></p>
                        <a href="https://still-ridge-49363.herokuapp.com/" class="btn btn-primary">Preview</a>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <%-include ('../partials/footer.ejs') %>