<%-include ('../partials/navbar.ejs') %>
    <!-- <header> -->

    <!-- <div class="container">
            <nav class="topnav">
                <ul>
                    <a class="btn" href="/">About</a>
                    <a class="btn" href="/skills">Skills</a>
                    <a class="btn" href="/education">Education</a>

                </ul>
            </nav>
        </div>
    </header> -->


    <div class="contaier">




    </div>


    <%-include ('../partials/footer.ejs') %>