<%-include ('../partials/navbar.ejs') %>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link hvr-grow-shadow" href="/"> ABOUT <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hvr-grow-shadow" href="/skills">SKILLS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hvr-grow-shadow" href="/education">EDUCATION</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link hvr-grow-shadow active" href="/resume">RESUME</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link hvr-grow-shadow" href="/contact">CONTACT</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="technology">
            <article class="technology-top">
                <h1>Technology</h1>
            </article>

            <article class="technology-skills">
                <ul>
                    <li>HTML5/CSS3</li>
                    <li>JavaScript/jQuery</li>
                    <li>Version Control (GIT) </li>
                    <li>Responsive Web Design </li>
                    <li>Agile Methodology </li>
                    <li>Mobile First Thinking </li>
                    <li>Universal Design Principle</li>
                    <li> WCAG 2.0, Usability and Accessibility </li>
                    <li>Linux Ubuntu and TMUX</li>
                    <li> MongoDB </li>
                    <li> ExpressJS, ReactJS and NodeJS</li>
                    <li>Sublime Text and VS code editor</li>
                </ul>
            </article>
        </div>
        <div class="experiences-resume">
            <article>
                <h1>Work Experiences</h1>
            </article>

            <article>
                <div class="oslomet">
                    <h5> Oslo Metropolitan University </h5>
                    <h6>Master's Dissertation: Jan 2019 - May 2020 </h6>
                    <p> Under the supervision of professor Frode Eika Sandness, researched, A glimpse into smartphone
                        use
                        among blind teenagers in Rural Nepal. This study explores accessibility and usability issues
                        frequently
                        encountered by blind screen reader users. <a id="link"
                            href="https://doi.org/10.1080/17483107.2020.1818298">https://doi.org/10.1080/17483107.2020.1818298</a>
                    </p>
                </div>

                <div class="subisu">
                    <h5> Subisu CableNet Pvt Ltd, Kathmandu Nepal </h5>
                    <h6>Internship: Dec 2016 – Apr 2017</h6>
                    <p> Under the supervision of professor Frode Eika Sandness, researched, A glimpse into smartphone
                        use
                        among blind teenagers in Rural Nepal. This study explores accessibility and usability issues
                        frequently
                        encountered by blind screen reader users. </p>
                </div>

                <div class="vtu">
                    <h5> Visvesvaraya Technological University </h5>
                    <h6>Project Work: Oct 2014 – May 2015</h6>
                    <p> Under the supervision of the professor, Dr. Madhu B. K. took a leading responsibility on the
                        final year
                        project work focusing on UX design, coding, and implementation of the project along with three
                        other
                        group members. Topic: Intelligent Surveillance System for Security and Eco Surveillance,
                        Implemented
                        motion detection and Noice detection algorithms using Java, c#, visual basic, and android. </p>
                </div>
            </article>
        </div>
    </div>


    <%-include ('../partials/footer.ejs') %>