<%- include ('../partials/navbar.ejs') %>
    <div class="container">
        <div class="main">
            <a href="#" class="fa fa-html5"></a>
            <a href="#" class="fa fa-css3"></a>
            <a href="#" class="fa fa-css3"></a>






        </div>
    </div>

    <%-include ('../partials/footer.ejs') %>