<%- include ('../partials/navbar.ejs') %>
    <div class="container">
        <div class="main-skills-logo">
            <div class="skill-logo-basics">
                <span> <img class="skill-logo" src="https://www.w3.org/html/logo/downloads/HTML5_1Color_Black.png"
                        alt="HTML5 logo">
                    </image>
                </span>
                <span> <img class="skill-logo"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/CSS.3.svg/730px-CSS.3.svg.png"
                        alt="CSS3 logo">
                    </image>
                </span>

                <span><img class="skill-logo"
                        src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/082014/js1_0.png?itok=9fCD5b30"
                        alt="Javascript logo">
                    </image>
                </span>
            </div>

            <div class="skill-logo-basics">
                <span><img class="skill-logo" src="https://g.foolcdn.com/art/companylogos/square/mdb.png"
                        alt="MongoDB logo">
                    </image>
                </span>

                <span><img class="skill-logo"
                        src="https://ih1.redbubble.net/image.438908244.6144/st,small,507x507-pad,600x600,f8f8f8.u2.jpg"
                        alt="Express Js logo">
                    </image>
                </span>
                <span><img class="skill-logo"
                        src="https://mildaintrainings.com/wp-content/uploads/2017/11/react-logo.png" alt="React logo">
                    </image>
                </span>

                <span><img class="skill-logo"
                        src="https://www.logolynx.com/images/logolynx/c5/c509c38cb89bcf556b2051222663f398.png"
                        alt="Node Js logo">
                    </image>
                </span>
            </div>

            <div class="skill-logo-basics">
                <span><img class="skill-logo"
                        src="https://lh3.googleusercontent.com/proxy/5MvJ5UDpxTRamEI2MAaHDg7QywzfwBzsgSZU1bIgvk8XvQpSGTGALzb9fFb3yVJDXtrBGvzWIHfBRJDSVyWdx2OxFDLV3lhVU8T1-7BvVBtNzmSc1sdN7A"
                        alt="GIT logo">
                    </image>
                </span>

                <span><img class="skill-logo"
                        src="https://ih1.redbubble.net/image.859072111.0830/flat,750x,075,f-pad,750x1000,f8f8f8.u8.jpg"
                        alt="TMUX logo">
                    </image>
                </span>

                <span><img class="skill-logo"
                        src="https://www.vhv.rs/dpng/d/608-6083505_logo-linux-png-linux-logo-evolution-transparent-png.png"
                        alt="Linux logo">
                    </image>
                </span>



                <span><img class="skill-logo" src="https://assets.ubuntu.com/v1/57a889f6-ubuntu-logo112.png"
                        alt="Ubuntu logo">
                    </image>
                </span>
            </div>

            <div class="skill-logo-basics">
                <span><img class="skill-logo" src="https://titrias.com/files/2017/04/vscode-logo.jpg"
                        alt="VS code editor logo">
                    </image>
                </span>

                <span><img class="skill-logo"
                        src="https://www.sketchappsources.com/resources/source-image/sublime-text-icon.png"
                        alt="Sublime text editor logo">
                    </image>
                </span>

            </div>







        </div>
    </div>

    <%-include ('../partials/footer.ejs') %>