<%-include ('../partials/navbar.ejs') %>
    <div class="container">
        <div class="main">
            <p><b>Skill </b></p>
            <div class="row">
                <div class="col">
                    <span><b>HTML5 </b></span> <span class="pull-right"> <b>85%</b></span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span><b>CSS3</b></span> <span class="pull-right"><b>75%</b></span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span><b>Javascript</b></span> <span class="pull-right"><b>90%</b></span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span><b>MongoDB</b></span> <span class="pull-right"> <b>60%</b></span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span><b>Express</b></span> <span class="pull-right"> <b>80%</b></span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span><b>React</b></span> <span class="pull-right"> <b>40%</b></span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span><b>Node</b></span> <span class="pull-right"> <b>70%</b></span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span><b>Linux-ubuntu</b></span> <span class="pull-right"> <b>60%</b></span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span><b>GIT</b></span> <span class="pull-right"> <b>50%</b></span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span><b>VS code editor</b></span> <span class="pull-right"> <b>70%</b></span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>








                </div>
            </div>
        </div>
    </div>

    <%-include ('../partials/footer.ejs') %>