
* {
    margin: 0;
    padding: 0;
}

h1,
p, b {
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
}

.container {
    height: 100%;
}

#main {
    overflow: auto;
}


.logo {
    height: 40px;
    width: 70px;
    display: inline;
    margin: 5px;
    padding: 5px;
}

/* About me profile text and image */
#profile-image {
    height: 300px;
    width: 500px;
    border-radius: 50%;
    margin: 10px;
    margin-top: 30px;
    border: 1px solid #ddd;
    padding:5px;
}

#profile-image:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.main-text{
    height:500px;
    width:700px;
    margin:10px;
    padding: 25px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-shrink: 3;
}

@media (min-width:300px) and (max-width:600px) {
    .container {
        display: flex;
        flex-direction: column;
        height: 135%;
     }
     .main-text{
        height:400px;
        width:450px;
        font: small;
        margin: 10px;
        padding: 0;
    }

    
    #profile-image {
        height: 350px;
        width: 400px;
        border-radius: 50%;
        margin: auto;
        margin-bottom: 30px;
        border: 1px solid #ddd;
        padding:0;
    }
}

.main-skills-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px;
    padding: 15px;
}

.skill-logo {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

.skill-logo-basics {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
}
/* education  */
.table {
    border: 3px solid #ddd;
    
}

/* footer social media icon */
 

.footer {
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    position: relative;

}

.fa {
    padding: 20px;
    font-size: 30px;
    height: 60px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    background-color: burlywood;
    margin: 5px;
    padding: 5px;
    color:white;
    background-color:black;
    border-radius: 50%;
     }

 .fa-envelope,.fa-phone {

color :white;
background-color: black;
border-radius: 10%;
height : 40px;

     }
.contact-middle {
    display: flex;
    flex-direction: row;
    margin: 3px;
    margin-top:60px;
    padding: 3px;
    text-align: center; 
    justify-content: center;   
}

.contact-left {
    display: flex;
    flex-direction: column;
    margin-top:40px;
}
.contact-right {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}

@media (min-width:300px) and (max-width:600px) {
    .footer {
        display: flex;
        flex-direction: column;
        height: 67%
    }
 
    .contact-left,.contact-middle,.contact-right {
      margin :auto;
  }

  .main {
    height: 100%;
    margin:0;
    padding: 0; 
    }

  .table {
      height: 90%;
      width: 100%;
      margin:0;
      padding:0;
      font: x-small;
      }
    }