
body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    background-color: lightgray;
    line-height: 1.9;
    
}

/*Global */
.container{
    width: 80%;
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
}

/* Header */
header {

    padding-top:30px;
    min-height: 70px;
    text-align: center;
}

header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    
}

header li{
    display : inline;
    padding : 0 20px 20px 0;
}

.active {
    background: red;
}


/* header ul li.active a {
    background : red;
    color :white;
} */

.topnav {
    margin-bottom: 10px;
}

/* About Me */

#about {

    width: 80%;
    background-image: url("https://scontent.fosl4-2.fna.fbcdn.net/v/t1.0-9/p843x403/35238958_2038784109526715_6404103770879295488_o.jpg?_nc_cat=100&ccb=2&_nc_sid=84a396&_nc_ohc=MlXE9P6KT6wAX_Kl1Bk&_nc_oc=AQnNIxXXLQUmsUwYiudcFJC0snqRyi2Ft4JmkJbd9TP06hv9ectO6GGD1hieob_F7-c&_nc_ht=scontent.fosl4-2.fna&tp=6&oh=7a9b8a60041be0e0091448013b6a7350&oe=5FFD1849") ;
    background-repeat: no-repeat;
    margin : 80px;
    height : 500px;
    border-radius: 50%;
}

article {
    width: 90%;
    margin: 10px;
    padding: 10px;
}

article h2 {
    margin-top: 300px;
}


#about-inside {
 display: inline;
 margin-top : 30px;
}

#about-feed{
    display: inline-block;
    margin-top: 100px;
}

.about-feed-img{
    width: 400px;
    height: 400px;
    margin:0;
    padding: 0;
}
#kings-road {
    width : 40%;
    margin-top: 150px;
    float: left;
    
}

#kings-road-aside {
    width : 50%;
    float: right;
    margin-top: 200px;
    
    
}
.container p {
    margin-top: 15px;
}

span #right{
    float: right;
}
/*Skills Sections */

.quotes {
    margin-top : 200px;
    text-align: center;
}

#skill-services {
    margin-top: 200px;
    text-align: center;
}
/*Experience Sections*/

.main {
    margin: 60px;
}

#experience-text {
    width: 60%;
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 100px;
    text-align: center;

}
 .card-img-top{
    height:220px;
    width:290px;
    padding:5px;

} 

 .card{
    height:330px;
    width:300px;
    border: 3px solid black;
    display: inline-block;
    margin: 20px;
    color:white;
} 

.img-services {
    height: 250px;
    width: 300px;
    margin: 10px;
}

#div-services {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-right: 50px;
    
}

/*Footer*/

footer {
    width: 100%;
    margin-top: 200px;
    padding: 50px;
    background-color:skyblue;
    position: relative;
    text-align: center;

}

#contact {
    margin-top:80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
}

.fa {
    padding: 20px;
    font-size: 30px;
    height: 60px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    color:white;
    background-color:black;
    border-radius: 50%;
     }

 .fa-envelope,.fa-phone {

color :white;
background-color: black;
border-radius: 10%;
height : 40px;

     }
.contact-middle {
    display: flex;
    flex-direction: row;
    margin: 3px;
    margin-top:60px;
    padding: 3px;
    text-align: center;
    justify-content: center;
}

.contact-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 40px;
}
.contact-right {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}












































/*
@media (min-width:300px) and (max-width:600px) {
    .container {
        display: flex;
        flex-direction: column;
        height: 135%;
     }
    
.main-skills-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px;
    padding: 15px;
}

.skill-logo {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

.skill-logo-basics {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
} */


/*Skills Setion*/

/* .main {
    height: 100%;
    width: 100%;
    margin:30px;
    padding:10px;
} */



/* footer social media icon */


@media (min-width:300px) and (max-width:600px) {
    .footer {
        display: flex;
        flex-direction: column;
        height: 67%;
    }

    .contact-left,.contact-middle,.contact-right {
      margin :auto;
  }

  .main {
    height: 100%;
    margin:0;
    padding: 0;
    }

  .table {
      height: 90%;
      width: 100%;
      margin:0;
      padding:0;
      font: x-small;
      }
    } 